
<h1 class="text-center p-4">Ruby on Rails Blog App</h1>

<div class="d-flex align-items-center justify-content-center">
  <%= link_to "Add Blog", new_blog_path, class:"btn btn-dark mb-4" %>
</div>

<div class="container">
  <div class="row">
    <% @blogs.each do |blog| %>
      <div class="col-md-4 mb-4">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title"><%= blog.title %></h5>
             <%= link_to "View", blog_path(blog.id), class: "btn btn-dark" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>